$primary-pale: #fafafa;
$primary-lightest: #f3f3f3;
$primary-lighter: #dcdcdc;
$primary-light: #d3d3d3;
$primary-neutral: #c0c0c0;
$primary-dark: #a9a9a9;
$primary-darker: #808080;
$primary-darkest: #696969;
