:root {
  --primary-pale: #fafafa;
  --primary-lightest: #f3f3f3;
  --primary-lighter: #dcdcdc;
  --primary-light: #d3d3d3;
  --primary-neutral: #c0c0c0;
  --primary-dark: #a9a9a9;
  --primary-darker: #808080;
  --primary-darkest: #696969;
}

body {
  background-color: var(--primary-pale);
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.header {
  align-items: center;
  background-color: var(--primary-lighter);
  box-shadow: 0 5px 5px -5px var(--primary-darker);
  display: flex;
  padding: 0 15px;
}

.header > * {
  display: inline-block;
  margin: 15px;
}

#search-form {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#search-bar {
  border: 1px solid var(--primary-dark);
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 5px;
  width: 75%;
}

#search-button {
  border: 1px solid var(--primary-dark);
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding: 7px 12px; /* reduce button padding to account for border */
}

#profile-button {
  position: relative;

  border-radius: 50%;
  height: 1em;
  padding: 17px;
  overflow: hidden;
  width: 1em;
}

#profile-button > .icon {
  position: absolute;
  top: 3px;
  left: 3px;

  height: 31px;
  width: 31px;
}

#profile-content {
  display: block;
  min-width: 150px;
  text-align: center;
  white-space: nowrap;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
}

.sidebar {
  margin-top: 30px;  /* equals .title margin-top */
  width: 150px;
}

.sidebar > ul {
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
}

.sidebar ul li + li {
  margin: 15px 0;
}

.content {
  width: 500px;
}

.title {
  margin: 15px;
  margin-top: 30px;
}

a {
  color: var(--primary-darkest);
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
}

button {
  background-color: var(--primary-darker);
  border: none;
  border-radius: 3px;
  color: var(--primary-lighter);
  padding: 8px 12px;
}

button:focus, button:hover {
  background-color: var(--primary-dark);
  box-shadow: -1px 1px 1px var(--primary-neutral);
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: var(--primary-darkest);
}
