body {
  background-color: $primary-pale;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.header {
  align-items: center;
  background-color: $primary-lighter;
  box-shadow: 0 5px 5px -5px $primary-darker;
  display: flex;
  padding: 0 15px;
}

.header > * {
  display: inline-block;
  margin: 15px;
}

#search-form {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#search-bar {
  border: 1px solid $primary-dark;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 5px;
  width: 75%;
}

#search-button {
  border: 1px solid $primary-dark;
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding: 7px 12px; /* reduce button padding to account for border */
}

#profile-button {
  position: relative;

  border-radius: 50%;
  height: 1em;
  padding: 17px;
  overflow: hidden;
  width: 1em;
}

#profile-button > .icon {
  position: absolute;
  top: 3px;
  left: 3px;

  height: 31px;
  width: 31px;
}

#profile-content {
  display: block;
  min-width: 150px;
  text-align: center;
  white-space: nowrap;
}

.body {
  position: relative;
  display: flex;
  margin-left: side-margin();
  margin-right: side-margin();

  @include respond-to(desktop) {
    margin-left: side-margin(1, 12);
    margin-right: side-margin(3, 12);
  }
}

.sidebar {
  @include gutters(8);
  flex-grow: 2;
  margin-top: 30px;  /* equals .title margin-top */

  @include respond-to(phone) {
    display: none;
  }
}

.sidebar > ul {
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
}

.sidebar ul li + li {
  margin: 15px 0;
}

.content {
  @include gutters(8);
  flex-grow: 6;

  @include respond-to(phone) {
    margin: 0;
  }
}

.title {
  margin: 15px;
  margin-top: 30px;
}

a {
  color: $primary-darkest;
  text-decoration: none;
}

a:hover {
  color: $primary-dark;
}

button {
  background-color: $primary-darker;
  border: none;
  border-radius: 3px;
  color: $primary-lighter;
  padding: 8px 12px;
}

button:focus, button:hover {
  background-color: $primary-dark;
  box-shadow: -1px 1px 1px $primary-neutral;
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: $primary-darkest;
}
