.title .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.question {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px var(--primary-neutral);
  margin: 15px 0;
  padding: 15px;
}

.question > *:first-child {
  margin-top: 0;
}
