.title .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.question {
  border-top: 1px dotted black;
  padding: 15px;
}

.tag {
  background-color: #aaaaee;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
